Source: libreoffice-hwp2odt
Section: text
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends:
 debhelper-compat (= 13),
 default-jdk,
 liblibreoffice-java,
 unzip,
 zip,
Standards-Version: 4.6.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/ebandal/H2Orestart.git
Vcs-Browser: https://github.com/ebandal/H2Orestart
Homepage: https://github.com/ebandal/H2Orestart

Package: libreoffice-hwp2odt
Priority: important
Architecture: all
Section: doc
Depends: 
 default-jre | java6-runtime,
 libreoffice-java-common,
 ${misc:Depends}, 
Description: HWP format document to Libreoffice Writer converter
 This package is an extension that allows you to edit HWP documents in LibreOffice.
 Check the actual source code at the URL below..
 .
 https://github.com/ebandal/H2Orestart

